#container{
    background-color: black;
    color:#33AAFF;
    height: 100px;
    width: 500px;
    text-align: center;
    margin:auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left:25%;
}

#clock{
    justify-content: center;
    margin:auto;
    font-size:4em;
    
}
