h1{
	text-transform:uppercase;
	text-align: center;
	color:white;
	font-size: 45px;
	font-family:"arial";
	font-weight:200;
}
#boutons-container{
	display: flex;
	justify-content: center;
}

button{
	background-color:orange;
	border: 1px yellow solid;
	height: 50px;
	width: 160px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 5px;
	color:white;
	font-size: 15px;
}
body{
	background-color:orange;
}

#chrono{
	display: flex;
	justify-content: center;
	text-align:center;
	color:white;
	font-size: 30px;
	margin-bottom: 20px;
}